/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'Bona Nova', sans-serif;
  background-color: #F5F5F5;
  
}

.todo-wrapper {
  right: 0;
  left: 0;
  min-width: 94%;
  padding: 1rem;
  height: 100vh;
}

header h1{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.3rem;
}

.todo-form {
 min-width: 85%;
 padding: 0.5rem;
 margin: 0 auto;
}

@media (max-width: 559px) {
  .todo-form {
    margin: 1rem;
  }
}


.todo-input-wrapper {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}

.todo-input-container input, .todo-input-container button {
  outline: none !important;
  border: none !important;
  height: 2rem;
}

.todo-input-container input {
  font-size: 1.3rem;
  width: 90%;
  margin-left: 15px;
  padding: 1.3rem 0.9rem;
  text-align: left;
}

.todo-input-container input::placeholder {
  font-size: 1.3rem;
  text-align: left; 
  
}

.input-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  height: 2rem;
  margin-top: -38px;
  margin-right: 40px;
}

 .add-button {
  color: #004956a2;
  font-size: 2rem;
  cursor: pointer;
  background: none;
}

.voice-command-btn {
  color: #004956a2;
  font-size: 2rem;
  cursor: pointer;
  background: none;
}

.voice-command-btn:hover, .add-button:hover {
  color: #004956;
}

#input-warning {
  margin-top: 10px;
  margin-left: 1%;
  font-size: 12px;
  color: #ff0000;
  display: none;
}

#filter-warning {
  margin-left: 3%;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #ff0000;
  display: none;
}

@media (max-width: 559px) {
  #filter-warning {
    margin-left: 4%;
  }

  .todo-container input::placeholder {
    font-size: 1rem;
  }

  .input-buttons {
    gap: 0.5rem;
    margin-right: 35px;
  }
}

.filter-todos_select select {
  appearance: none;
  border: none;
  outline: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 1rem;
  padding-right:  3.5rem;
  text-align: left;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: auto;
}

@media (max-width: 559px) {
  .filter-todos_select select {
    width: 97%;
  }
  .filter-todos_select {
    width: 97%;
  }
}

.filter-todos_select.form-control:focus {
  outline: none;
  background: none;
}

.filter-todos_select::after {
  content: "\25BC";
  background: none;
  pointer-events: none;
  color: #076158;
  margin-left: -40px;
}

.filter-todos_select:hover::after, option:hover {
  color: #1f867c
}

.filter-todos_select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.filter-todos_select.form-control:focus {
  box-shadow: none !important;
}

.todo-container {
  display: grid;
  width: 85%;
  padding: 0.5rem;
  margin: 0 auto;    
}

.todo-list {
  padding: 10px;
}

.todo {
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
  padding-left: 0.3rem;
}

.todo-item {
  width: 145px;
  flex: 1;
  overflow-wrap: break-word;
}

.trash-btn, .complete-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.3rem;
  cursor: pointer;
  transition: all 0.5s ;
}

.complete-btn {
  color: #067a06;
}

.complete {
  text-decoration: line-through #ff0000;
  font-style: italic;
  color: #808080;

}

.trash-btn {
  color: #ff0000;
}

.trash-btn:hover, .complete-btn:hover {
  transform: scale(1.1);
}

/****|| Toggle theme ||****/

.todo-wrapper.dark-mode {
  background: #363636;
  color: #fff ;
}


.todo-container.dark-mode {
  color: #fff !important;
}

.todo-container.dark-mode li {
  color: #fff;
}

#filter-warning.dark-mode, #input-warning.dark-mode {
  color: #fff !important;
}

#toggle-theme-button {
  margin-bottom: 50px;
  margin-left: 92%;
}

#toggle-theme-button ion-icon {
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
  pointer-events: none;
}

.light-toggle, .dark-toggle {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dark-toggle.dark-mode {
  color: #363636;
  /* display: none; */
}

.dark-toggle:focus {
  color: #333;
}


.light-toggle.dark-mode {
  color: #F5F5F5;
  font-weight: 800;
}

.light-toggle:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.dark-toggle:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

/* prevent icon default */
ion-icon {
  pointer-events: none;
}

/* Responsiveness for big Screen */

@media screen and (min-width: 559px) {

  .todo-wrapper {
    min-width: 100%;
  }

  .todo-input-wrapper {
    grid-template-columns: 1fr 40%;
    max-width: 90vw;
  }  

  .filter-todos_select {
    margin-top: 0px;
    margin-left: auto;
  }

  .todo-item {
    font-size: 1.3rem;
  }

  #input-warning {
    position: absolute;
    margin-top: 45px;
    font-size: 1.2rem;
  }

  #filter-warning {
    font-size: 1.2rem;
  }

}

@media  screen and (min-width: 800px) {
  
  .todo-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .todo-wrapper {
    min-width: 650px;
    right: 0;
  }

  .todo-item {
    font-size: 1.3rem;
  }
}



